@charset "UTF-8";
/* Rubén Torres */

/*** IMPORTACIONES ***/
@import url('fuentes.css');
@import url('colores.css');

/*** ASIGNACIONES GLOBALES ***/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Omnes Extra Light';
}

/* html{
    width: 1000px;
    margin: 0 auto;
} */

body{
    font-size: 25px;
    color: white;
}

h1, h2{
    font-family: 'Co Text Regular';
}

h1{
    /* font-size: 60px; */
    font-size: 2.4em;
}

/*** MAIN ***/
main > section{
    height: 100vh;
    position: relative;
    /* padding: 0 20px; */
    padding: 0 2%;
}

/*** SECTION ***/
main > section > div{
    position: relative;
    float: left;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

/** PARES **/
main > section:nth-child(2n) > div{
    float: right;
    text-align: right;
}

/** COLORES **/
.rojo{
    background-color: var(--principal);
}

.blanco{
    background-color: var(--contraste1);
    color: black;
}

.verde{
    background-color: var(--contraste2);
}

.azul{
    background-color: var(--secundario);
}

.marron{
    background-color: var(--analogo2);
}

/** TÍTULO **/
.titulo{
    /* width: 400px; */
    width: 41.666666667%; /* Respecto a 960px */
    /* padding: 40px; */
    padding: 4.166666667%;
}

/** IMAGEN | VÍDEO **/
.imagen{
    /* width: 480px; */
    width: 50%; /* Respecto a 960px */
    display: flex;
    justify-content: center;
}

.imagen > img,
.imagen > video{
    max-width: 100%;
    max-height: 90vh;
}

/** BOTONES MOVER **/
.botonMover{
    /* 
        Quiero que siempre tengan el 
        mismo tamaño, por eso lo dejo en px
    */
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 10%;
    transition: all 500ms ease;
}

.botonMover:hover{
    opacity: 100%;
    transition: all 500ms ease;
}

.botonMover > i{
    font-size: 25px;
    /* font-size: 1em; */
}


/*** RESPONSIVE ***/
@media screen and (max-width: 900px){

    .titulo{
        /* width: 880px; */
        width: 91.666666667%;
    }

    .imagen{
        /* width: 960px; */
        width: 100%;
    }

    main > section > div,
    main > section:nth-child(2n) > div{
        float: none;
        text-align: center;
        top: 0;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

}

/*
    ATRIBUCIONES
    navidad: <a href="https://www.freepik.es/vectores/navidad">Vector de Navidad creado por vectorjuice - www.freepik.es</a>
    imagen3: <a href='https://www.freepik.es/vectores/personas'>Vector de Personas creado por pikisuperstar - www.freepik.es</a>
    regalar: <a href='https://www.freepik.es/vectores/lazo'>Vector de Lazo creado por pch.vector - www.freepik.es</a>
    ayudar: <a href='https://www.freepik.es/vectores/comida'>Vector de Comida creado por pch.vector - www.freepik.es</a>
    persona-ayudar: <a href='https://www.freepik.es/vectores/abstracto'>Vector de Abstracto creado por pch.vector - www.freepik.es</a>
    decoraciones-ayudar: <a href='https://www.freepik.es/vectores/navidad'>Vector de Navidad creado por freepik - www.freepik.es</a>
    estrellas-ayudar: <a href='https://www.freepik.es/vectores/estrellas'>Vector de Estrellas creado por freepik - www.freepik.es</a>
    atreverte: <a href='https://www.freepik.es/vectores/nieve'>Vector de Nieve creado por pch.vector - www.freepik.es</a>
*/